*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: black;
}

.sidebar.songListIsShow {
    height: calc(100% - 42px);
    display: grid;
    place-items: center;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 62px;
    width: 220px;
    background-color: #0d0d0d;
    -ms-overflow-style: none;
}


a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
}
.user-icon i> .fa-user{
    width: 50%;
}
.userInfo{
    
}

button {
    padding: .8em 2em;
    border-radius: 100px;
    color: #463402;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(133.3deg,rgba(254,234,205,1) 0%,rgba(251,206,132,1) 100%);
}